body,
html {
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: hsl(225, 100%, 94%);
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
}
/* @media (max-width: 375px) {
    background-image;
} */

/* Hover states */
.card:hover,
.proceed:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.proceed:hover {
  background-color: hsla(245, 75%, 52%, 0.637);
}
a:hover {
  color: hsla(245, 75%, 52%, 0.637);
  text-decoration: none;
}
.cancel_order:hover {
  color: black;
}

/* card */

.card {
  margin: 6rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 28.12rem;
  height: 40rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  align-content: center;
  background-color: whitesmoke;
}

.big-para {
  text-align: center;
  margin: 10px auto;
  width: 20rem;
  color: gray;
}
.small_box {
  display: flex;
  margin: 10px auto;
  padding: 6px 30px;
  width: 50%;
  height: 10%;
  border-radius: 8px;
  background-color: hsl(225, 100%, 98%);
}
.music_icon {
  align-self: center;
  margin: auto;
}
.small-para {
  flex: 1;
  font-size: 1rem;
  margin: 10px;
  justify-content: center;
  font-weight: normal;
  color: gray;
}
.small_heading {
  font-weight: 700;
  flex: 1;

  margin-right: 2rem;
  margin-top: 2px;
  line-height: 2rem;
}
.change_div {
  flex: 1;
  align-self: center;
}
.proceed {
  width: 20rem;
  font-weight: 700;
  align-self: center;
  color: whitesmoke;
  padding: 10px 40px;
  border-width: 0;
  border-radius: 8px;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.cancel_order {
  display: inline-block;
  align-self: center;
  border: none;
  width: fit-content;
  font-weight: 700;
  justify-content: center;
  margin: 20px;
  text-align: center;
  color: rgb(99, 95, 95);
  border-width: 0;
  background-color: whitesmoke;
}

.hero {
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0px 0px;
}
